<div class="container">
    <header class="row"> 
        Help buttons
    </header>
    <div class="row">
        <div class="col-md-12">
            Read each sentence. Choose the vocabulary word that best completes the sentence
        </div>
        <div class="col-md-12">
            Question goes here
        </div>
    </div>
    <div class="row">        
        <section class="col-md-6">
            Vault
        </section>
        <section class="col-md-6">
            Questions
        </section>
    </div>
    <footer class="row"> slider</footer>
</div>

