<div class="container-fluid">
    <header class="row header-content"> 
        <div class="col-md-11"><h3>Your Turn: Vocabulary</h3></div><div class="col-md text-center"><button class="btn-primary" style="margin: 0.5em;">?</button><button class="btn-primary">x</button></div>
    </header>
    <section style="margin:2em">
        <div class="row">           
            <div class="col-md-1"><button class="btn">Sound</button></div><div class="col-md-11"><h6>Read each sentence. Choose the vocabulary word that best completes the sentence</h6></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 question-section">Question goes here</div>
            <div class="col-md-1"></div>
        </div>
    </section>
    <section>        
        <div class="row" style="margin: 3em;">
            <div class="col-md-6">                
                <img src="/assets/img/lock0001.png" style="border:1px solid #000">
            </div>
            <div class="col-md-6" style="margin-top: 3em;">
                <ul class="list-group">
                    <li class="list-group-item answer-options"><button class="btn-primary answer-button">Sound</button>Cras justo odio</li>
                    <li class="list-group-item answer-options"><button class="btn-primary answer-button">Sound</button>Dapibus ac facilisis in</li>
                    <li class="list-group-item answer-options"><button class="btn-primary answer-button">Sound</button>Morbi leo risus</li>
                    <li class="list-group-item answer-options"><button class="btn-primary answer-button">Sound</button>Porta ac consectetur ac</li>
                </ul>
            </div>
        </div>
    </section>
    <footer class="row" style="border-top:4px solid #eae548e8; background-color:#d22e1ecf;height: 4em;">
            <div class="col-md-12 text-center" style="margin-top: 1em;color:#eae548e8">
                ooo
            </div>
    </footer>
</div>

